.card-title {
    font-size: 1.2em;
}

.news-header-image {
    border-radius: 15px;
    padding-top: 0.5em;
}

.card-content {
    display: flex;
}

ion-icon {
    margin: 0 0.5em 0 1.5em;
}

h2 {
    font-size: 1.0em;
    font-weight: bold;
}

ion-thumbnail {
    width: 100px;
    height: 100px;
}

.separate {
    margin-top: 2em;
}

.news-list{
    margin: 0.5em;
}